body{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.container{
    min-height: 800px;
}
.mt-5{
    margin-top: 50px;
}

.card{
    min-width: 768px;
}
#swaparrows i{
    font-size: 40px;
    padding: 0;
    margin: 0;
    transition: color .2s ease-in-out;
}
#swaparrows i:hover{
    color: #2BBBAD;
    cursor: pointer;
}
.material-icons{
    padding: 0;
    margin: 0;
}
input::-webkit-calendar-picker-indicator {
    display: none;
  }